directory:
{
    root:       /Users/kae/Projects/xcode/cpp/kege-dev/KEGE/kege
    assets:     root/assets
    shaders:    assets/shaders
    fonts:      assets/fonts
    .shader:    root/assets/shaders
}

graphics:
{
    title:          KEGE-DEV
    width:          1024
    height:         720
    FPS:            60
    view-far:       80000.0
    view-near:      0.01
    full-screen:    false
}

scene:
{
    file:       default.scene
}

